body {
    background-color:rgb(217, 237, 243);
    font-size: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

h1{
    font-size: 2rem;
    margin: 2rem;
    color:  rgb(33, 33, 150);
    display: flex;
    justify-content: space-evenly; 
}

.navegacionprincipal {
    margin: 3rem 0;
    background-color: rgb(33, 33, 150);
    height: 4rem;
    display: flex;
    justify-content: space-evenly; 
}

.navegacionprincipal a {
    color: rgb(217, 237, 243);
    font-size: 1.5rem;
    text-decoration: none;
    font-family:inherit;
    padding: 1rem 0 0 1rem;
    justify-content: space-between;
}

input , select, option {
    margin: .5rem 0;
    height: 2rem;
    border-radius: .4rem;
    font-size: 1.1rem;
}

.alineacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

button {         
    text-align: center;    
    background-color: #d7b38e;
    border-radius: 1rem;
    border-color:lightcoral;
    font-size: 1.2rem;
}
.centrado {
    display: flex;
    justify-content: center;
    width: 80%;
}

td {    
    border: rgb(33, 33, 150) 5px;     
    border-collapse: collapse;       
    text-align: center;    
    padding: 1rem 1.5rem;
    justify-content: space-around;
}    
thead{       
    font-style: italic;    
    font-family: inherit;      
    padding: 1rem;
    height: 2rem;
    color: rgb(33, 33, 150);
}
tbody{    
    font-size: 1rem;    
}